<div class="card">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur cum cumque dolor, enim ex ipsum molestiae natus numquam officiis repellat veniam vitae. Dicta ea explicabo fugit harum inventore, magni maxime nam perferendis possimus quibusdam quis reiciendis sit unde. Repellat!</p>
    </div>
</div>