<div class="jumbotron mt-4">
    <h1 class="dipaly-4">Notes App Nodejs y MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate harum illum molestiae mollitia, nostrum repellendus ullam veniam voluptates voluptatum? Commodi eligendi enim, natus nobis reiciendis repellat suscipit! Nobis, recusandae, totam?</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWeb</a>
</div>
